<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pims.api.domain.test.mapper.TestMapper">

    <insert id="insertTest">
        INSERT INTO test_tb
            (test_txt)
        values
            (#{text})
    </insert>


</mapper>